<header class="header-img">
    <div class="container">
        <div class="header-content ml-auto text-end">
            <h3 class="text-dark-red">Promise-Desert 2020 早春系列</h3>
            <h1 class="text-dark-red fw-bold">看得清，才能看得遠</h1>
            <button type="button" class="btn btn-outline-primary text-white fw-medium">立即購買</button>
        </div>
    </div>
</header>