<div class="container-sm-fluid py-80">
    <h2 class="text-dark-red text-center fw-bold mb-32">經典系列鏡框</h2>
    
        <ul class="row card-section">
            <li class="col-4 col-md-12 col-sm-12 mx-auto">
                <div class="img-card mr-lg-24">
                    <img src="../assets/images/home-section3-1.png" alt="OPTICAL">
                    <div class="img-card-title">
                        OPTICAL
                    </div>
                </div>
            </li>
            <li class="col-4 col-md-12 col-sm-12 mx-auto">
                <div class="img-card mr-lg-24">
                    <img src="../assets/images/home-section3-2.png" alt="OPTICAL">
                    <div class="img-card-title">
                        SUNGLASSES
                    </div>
                </div>
            </li>
            <li class="col-4 col-md-12 col-sm-12 mx-auto">
                <div class="img-card">
                    <img src="../assets/images/home-section3-3.png" alt="OPTICAL">
                    <div class="img-card-title">
                        FUNCTIONAL
                    </div>
                </div>
            </li>
        </ul>    
</div>