<section class="bg-joint">
    <div class="container py-80">
        <h2 class="text-white fw-bold text-center mb-48">聯名設計鏡框</h2>
        <div class="joint-container">
            <div class="d-flex flex-wrap">
                <div class="w-md-100 w-50">
                    <div class="joint-item mb-md-24">
                        <img src="../assets/images/home-section4-1-sm.png" class="d-sm-block" alt="DOUBLEA+_sm">
                        <img src="../assets/images/home-section4-1.png" class="d-sm-none" alt="DOUBLEA+">
                        <div class="img-card-title text-primary bg-white">DOUBLEA+</div>
                    </div>
                </div>
                <div class="w-md-100 w-50">
                    <div class="joint-item">
                        <img src="../assets/images/home-section4-2-sm.png" class="d-sm-block" alt="YOUTH_sm">
                        <img src="../assets/images/home-section4-2.png" class="d-sm-none" alt="YOUTH">
                        <div class="img-card-title text-primary bg-white">YOUTH</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>