<nav>
    <div class="container-fluid p-md-0">
        <div class="navbar-wrap">
            <a class="navbar-logo" href="index.html"><img src="../assets/images/logo-white.png" alt="logo"></a>
            <ul class="navbar-nav">
                <li class="navbar-item"><a class="navbar-link" href="opticalContent.html">系列鏡框</a></li>
                <li class="navbar-item"><a class="navbar-link" href="#">門市據點</a></li>
                <li class="navbar-item"><a class="navbar-link" href="#">部落格</a></li>
                <li class="navbar-item"><a class="navbar-link" href="#">常見問題</a></li>
            </ul>
        </div>
    </div>
</nav>