<nav class="bg-white pb-80" aria-label="商品頁換頁">
    <ul class="page">
        <li class="page-item">
            <a href="#" class="page-item-link">上一頁</a>
        </li>
        <li class="page-item">
            <a href="#" class="page-item-link">1</a>
        </li>
        <li class="page-item">
            <a href="#" class="page-item-link page-item-link-active">2</a>
        </li>
        <li class="page-item"><a href="#" class="page-item-link">3</a></li>
        <li class="page-item"><a href="#" class="page-item-link">4</a></li>
        <li class="page-item"><a href="#" class="page-item-link">5</a></li>
        <li class="page-item"><a href="#" class="page-item-link">下一頁</a></li>
    </ul>
</nav>