<section>
    <div class="container py-80">
        <h2 class="text-dark-red fw-bold text-center mb-48">顧客推薦</h2>
        <ul class="row card-section">
            <li class="col-3 col-md-6 col-sm-12 mb-md-24">
                <div class="card card-shadow align-item-start">
                    <img src="../assets/images/home-section5-1.png" class="w-100 mb-0" alt="Jessy">
                    <div class="p-16">
                        <div class="card-name text-start">Jessy</div>
                        <div class="card-content">眼鏡品質優良，下次還會想來這邊購買！</div>
                        <div class="card-footer">
                            2021/06/20
                        </div>
                    </div>
                </div>
            </li>
            <li class="col-3 col-md-6 col-sm-12 mb-md-24">
                <div class="card card-shadow align-item-start">
                    <img src="../assets/images/home-section5-2.png" class="w-100 mb-0" alt="凱倫">
                    <div class="p-16">
                        <div class="card-name">凱倫</div>
                        <div class="card-content mr-md-0">做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！</div>
                        <div class="card-footer">
                            2021/04/18
                        </div>
                    </div>
                </div>
            </li>
            <li class="col-3 col-md-6 col-sm-12 mb-sm-24">
                <div class="card card-shadow align-item-start">
                    <img src="../assets/images/home-section5-3.png" class="w-100 mb-0" alt="悠悠">
                    <div class="p-16">
                        <div class="card-name text-start">悠悠</div>
                        <div class="card-content">謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！</div>
                        <div class="card-footer">
                            2020/12/25
                        </div>
                    </div>
                </div>
            </li>
            <li class="col-3 col-md-6 col-sm-12">
                <div class="card card-shadow align-item-start">
                    <img src="../assets/images/home-section5-4.png" class="w-100 mb-0" alt="Kyuan">
                    <div class="p-16">
                        <div class="card-name text-start">Kyuan</div>
                        <div class="card-content mr-md-0">服務很好，品質沒有任何問題，非常喜歡。</div>
                        <div class="card-footer">
                            2020/10/31
                        </div>
                    </div>
                    
                </div>
            </li>
        </ul>
    </div>
</section>