<section class="bg-light">
    <div class="container py-80">
        <h2 class="text-dark-red text-center fw-bold mb-32">用專業的心，做專業的事</h2>
        <div class="row card-section px-12">
            <div class="col-3 col-md-6 col-sm-12">
                <div class="card">
                    <img src="../assets/images/home-section2-1.png" alt="price">
                    <div class="card-title">單一價格</div>
                    <div class="card-content">
                        無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。
                    </div>
                </div>
            </div>
            <div class="col-3 col-md-6 col-sm-12">
                <div class="card mr-md-0">
                    <img src="../assets/images/home-section2-2.png" alt="price">
                    <div class="card-title">20 分鐘即可取件</div>
                    <div class="card-content">
                        為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。
                    </div>
                </div>
            </div>
            <div class="col-3 col-md-6 col-sm-12">
                <div class="card">
                    <img src="../assets/images/home-section2-3.png" alt="price">
                    <div class="card-title">安心售後服務</div>
                    <div class="card-content">
                        我們提供長達 120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。
                    </div>
                </div>
            </div>
            <div class="col-3 col-md-6 col-sm-12">
                <div class="card mr-0">
                    <img src="../assets/images/home-sectioin2-4.png" alt="price">
                    <div class="card-title">關於鏡片</div>
                    <div class="card-content">
                        使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>