.btn {
    padding: 6px 12px;
    font-size: 20px;
    font-weight: 500;
  }
  
  .btn-primary,
  .btn-outline-primary {
    background-color: #aa0601;
    border: #aa0601 solid 1px;
  }
  
  .btn-primary:hover {
    background-color: #650300;
  }
  
  .btn-outline-primary:hover {
    background-color: white;
    color: #aa0601;
  }