.btn {
    padding: 6px 12px;
    font-size: 20px;
    font-weight: 500;
  }
  
  .btn-primary,
  .btn-outline-primary {
    background-color: $primary;
    border: $primary solid 1px;
  }
  
  .btn-primary:hover {
    background-color: $secondary;
  }
  
  .btn-outline-primary:hover {
    background-color: $white;
    color: $primary;
  }