.sitemap ul {
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  li a {
    text-decoration: none;
    margin: 12px 24px;
    &:first-child {
      margin-left: 0;
    }
  }
}

.links ul {
  margin-top: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  @include mobile {
    margin-top: 24px;
  }
  li a {
    text-decoration: none;
    margin: 24px 16px;
    @include mobile {
      margin: 24px 8px;
    }
    img {
      width: 32px;
      height: 32px;
      @include mobile {
        width: 24px;
        height: 24px;
      }
      &:hover{
        box-shadow: 0px 0px 12px 3px $secondary;
      }
    }
  }
}

.concact_info {
  @include mobile {
    min-width: 70%;
    max-width: 100%;
    padding-top: 24px;
  }
  p {
    @include mobile {
      display: flex;
      padding-left: 12px;
    }
  }
}

footer .concact_info p {
  font-size: 36px;
  @include mobile {
    font-size: 16px;
  }
}

.copyright {
  padding: 48px 0;
  ul{
    display: flex;
    li{
      margin: 24px 24px;
      font-size: 14px;
      &:last-child{
        margin-right: 16px;
      }
    }
  }
}

@include mobile {
  .copyright ul {
    display: block;
  }
}