.list-group{
    display: flex;
    justify-content: center;
    align-items: center;
    &-item{
        font-size: 32px;
        font-weight: 500;
        padding: calc(1.5rem - 4px) 0;
        color: $dark;
        @include pad{
            font-size: 24px;
        }
        @include mobile{
            font-size: 16px;
        }
        &:active{
            border-bottom: solid 8px $primary;
            padding-bottom: 16px;
        }
    }
}
.active{
    border-bottom: solid 8px $primary;
}