<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>眼鏡形象官網</title>
    
    <%- include('./layout/source'); -%>
  
  </head>
  <body>
    <!-- 是JS語法 屬於EJS語法-->
    <%- include('./layout/header'); -%>

    <main>

      <%- include('./layout/banner') -%>

      <%- include('./layout/special') -%>

      <%- include('./layout/classic') -%>

      <%- include('./layout/design') -%>

      <%- include('./layout/recommendation') -%>

      <%- include('./layout/concact') -%>

    </main>

    <%- include('./layout/footer'); -%>
    <!-- 是vite核心語法，不要動!!!-->
    <script type="module" src="../main.js"></script>
  </body>
</html>
