<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>眼鏡形象官網</title>
    
    <%- include('./layout/source'); -%>
  
  </head>
  <body>
    <!-- 是JS語法 屬於EJS語法-->
    <%- include('./layout/header'); -%>

    <main>
        <section class="row">
            <div class="list-group col-4 border-x border-x-gray">
                <a href="opticalContent.html" class="list-group-item text-center text-dark">OPTICAL</a>
            </div>
            <div class="list-group col-4 border-x border-x-gray active">
                <a href="sunglassesContent.html" class="list-group-item text-center text-dark">SUNGLASSES</a>
            </div>
            <div class="list-group col-4 border-x border-x-gray">
                <a href="#" class="list-group-item text-center text-dark">FUNCTIONAL</a>
            </div>
        </section>

        <section class="d-flex">
            <div class="w-50">
              <img
                src="../assets/images/product-header-3.png"
                class="d-md-none"
                alt="SUNGLASSES展示圖1"
              />
              <img
                src="../assets/images/product-header-sm-3.png"
                alt="SUNGLASSES手機展示圖1"
                class="d-md-block"
              />
            </div>
            <div class="w-50">
              <img
                src="../assets/images/product-header-4.png"
                class="d-md-none"
                alt="SUNGLASSES展示圖2"
              />
              <img
                src="../assets/images/product-header-sm-4.png"
                alt="SUNGLASSES手機展示圖2"
                class="d-md-block"
              />
            </div>
          </section>
          <!--商品條列頁-->
      <section class="container py-80">
        <h1 class="product-h1 text-center">2020 NEW COLLECTION</h1>
        <h2 class="product-h2 text-center mb-32">賽璐珞鈦金屬混合鏡框</h2>
        <div class="row product-mb">
            <div class="col-4 col-md-6 col-sm-12 product-mb">
                <article class="card">
                    <img
                      src="../assets/images/product-7.png"
                      class="w-100"
                      alt="product-1"
                    />
                    <div class="card-title w-100 d-flex justify-content-between">
                      <p class="text-dark">BJ41600S</p>
                      <p class="text-primary">NTD3,490</p>
                    </div>
                    <div class="card-body w-100">
                      <div class="d-flex">
                        <div class="box mr-2"></div>
                        <div class="box box-light"></div>
                      </div>
                    </div>
                  </article>
            </div>
            <div class="col-4 col-md-6 col-sm-12 product-mb">
                <article class="card">
                    <img
                      src="../assets/images/product-8.png"
                      class="w-100"
                      alt="product-1"
                    />
                    <div class="card-title w-100 d-flex justify-content-between">
                      <p class="text-dark">BJ41600S</p>
                      <p class="text-primary">NTD3,490</p>
                    </div>
                    <div class="card-body w-100">
                      <div class="d-flex">
                        <div class="box mr-2"></div>
                        <div class="box box-light"></div>
                      </div>
                    </div>
                  </article>
            </div>
            <div class="col-4 col-md-6 col-sm-12 product-mb">
                <article class="card">
                    <img
                      src="../assets/images/product-9.png"
                      class="w-100"
                      alt="product-1"
                    />
                    <div class="card-title w-100 d-flex justify-content-between">
                      <p class="text-dark">BJ41600S</p>
                      <p class="text-primary">NTD3,490</p>
                    </div>
                    <div class="card-body w-100">
                      <div class="d-flex">
                        <div class="box mr-2"></div>
                        <div class="box box-light"></div>
                      </div>
                    </div>
                  </article>
            </div>
            <div class="col-4 col-md-6 col-sm-12 product-mb">
                <article class="card">
                    <img
                      src="../assets/images/product-10.png"
                      class="w-100"
                      alt="product-1"
                    />
                    <div class="card-title w-100 d-flex justify-content-between">
                      <p class="text-dark">BJ41600S</p>
                      <p class="text-primary">NTD3,490</p>
                    </div>
                    <div class="card-body w-100">
                      <div class="d-flex">
                        <div class="box mr-2"></div>
                        <div class="box box-light"></div>
                      </div>
                    </div>
                  </article>
            </div>
            <div class="col-4 col-md-6 col-sm-12 product-mb">
                <article class="card">
                    <img
                      src="../assets/images/product-11.png"
                      class="w-100"
                      alt="product-1"
                    />
                    <div class="card-title w-100 d-flex justify-content-between">
                      <p class="text-dark">BJ41600S</p>
                      <p class="text-primary">NTD3,490</p>
                    </div>
                    <div class="card-body w-100">
                      <div class="d-flex">
                        <div class="box mr-2"></div>
                        <div class="box box-light"></div>
                      </div>
                    </div>
                  </article>
            </div>
            <div class="col-4 col-md-6 col-sm-12 product-mb">
                <article class="card">
                    <img
                      src="../assets/images/product-12.png"
                      class="w-100"
                      alt="product-1"
                    />
                    <div class="card-title w-100 d-flex justify-content-between">
                      <p class="text-dark">BJ41600S</p>
                      <p class="text-primary">NTD3,490</p>
                    </div>
                    <div class="card-body w-100">
                      <div class="d-flex">
                        <div class="box mr-2"></div>
                        <div class="box box-light"></div>
                      </div>
                    </div>
                  </article>
            </div>
        </div>
      </section>
      <!--換頁-->
      <%- include('./layout/pager'); -%>
    </main>

    <%- include('./layout/footer'); -%>
    <!-- 是vite核心語法，不要動!!!-->
    <script type="module" src="../main.js"></script>
  </body>
</html>
